#board {
  border-collapse: collapse;
}

#board td,
#pieces td {
  width: 60px;
  height: 60px;
  text-align: center;
  font-family: sans;
  font-size: 32pt;
}

#board td {
  border: solid 1px white;
}

#board td.light {
  background: #ddf;
}

#board td.dark {
  background: #aaf;
}

#pieces {
  margin-top: 60px;
  margin-left: 60px;
  border-collapse: collapse;
}

#pieces td {
  border: solid 1px #666;
}

#board .selected,
#pieces .selected {
  background: #fd3;
}
