#board,
#pieces,
#actions {
  border-collapse: collapse;
  cursor: default;
}

#board td,
#pieces td {
  width: 60px;
  height: 60px;
  text-align: center;
  font-family: sans;
  font-size: 32pt;
}

#board td {
  border: solid 1px white;
}

#board td.light {
  background: #ddf;
}

#board td.dark {
  background: #aaf;
}

#pieces,
#actions {
  margin-top: 60px;
  margin-left: 60px;
}

#pieces td {
  border: solid 1px #666;
}

#board td.light:hover {
  background: #bbd;
}

#board td.dark:hover {
  background: #77c;
}

#pieces td:hover,
#actions td:hover {
  background: #ccc;
}

#board td.selected,
#pieces td.selected {
  background: #fd3;
}

#actions td {
  height: 60px;
  font-weight: bold;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 1px #666;
}

#to-the-side {
  position: absolute;
  top: 0;
  left: 600px;
}
