#promotion-menu-white, #promotion-menu-black {
  width: 160px;
  height: 60px;

  text-align: center;
  font-family: sans;
  font-size: 32pt;

  background: white;
  border: solid 1px #333;
  cursor: default;
  padding: 5px;

  -moz-box-shadow:    6px 6px 5px 2px #999;
  -webkit-box-shadow: 6px 6px 5px 2px #999;
  box-shadow:         6px 6px 5px 2px #999;

  position: absolute;
  display: none;
}

#promotion-menu-white {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#promotion-menu-white span:hover, #promotion-menu-black span:hover {
  background: #ddf;
}

#status {
  width: 494px;

  border: solid 1px #333;
  cursor: default;
  padding: 5px;
  text-align: center;

  -moz-box-shadow:    6px 6px 5px 2px #999;
  -webkit-box-shadow: 6px 6px 5px 2px #999;
  box-shadow:         6px 6px 5px 2px #999;
}

#board {
  border-collapse: collapse;
  cursor: default;

  -moz-box-shadow:    6px 6px 5px 2px #999;
  -webkit-box-shadow: 6px 6px 5px 2px #999;
  box-shadow:         6px 6px 5px 2px #999;

  margin-top: 20px;
}

#board td {
  width: 60px;
  height: 60px;
  text-align: center;
  font-family: sans;
  font-size: 32pt;
}

#board td {
  border: solid 1px white;
}

#board td.light {
  background: #ddf;
}

#board td.dark {
  background: #aaf;
}

#board td.black {
  color: black;
}

#board td.white {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#board.illegal-move td.light {
  background: #fdd;
}

#board.illegal-move td.dark {
  background: #faa;
}

#board td.light:hover {
  background: #bbd;
}

#board td.dark:hover {
  background: #77c;
}

#board td.selected,
#board td.selected:hover {
  background: #fd3;
}

#to-the-side {
  position: absolute;
  top: 0;
  left: 600px;
}
